*{
    margin: 0;
    padding: 0;
}

.card-body{
    height: 450px;
    width: 300px;
    background-color:#12B0E8;
    display: inline-block;
    margin: 10px;
    padding: 10px;
   border-radius: 5px;
   margin-left: 90px;
   box-shadow: 2px 4px 4px #6A1B4D;
   margin-top: 7px;
   letter-spacing: 1.5px;
}

.card-body img{
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.btn{
    background-color:#CAD5E2;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 7px;
    color:#FF6666;
    font-weight: bold;
    margin-top: 7px;
}

.btn:hover{
   background-color:#242B2E;
   color: white;
   transition: 1s;
}

.card-body h5,h6{
    color:#E03B8B;
}

